{% extends 'layouts/base.twig' %}

{% block title %}
    {{ '修改管理员' }}
{% endblock %}

{% block style %}
    <style>
        .layui-form-label {
            float: left;
            display: block;
            padding: 9px 15px;
            width: 120px;
            font-weight: 400;
            text-align: right;
        }
        .role_box{
            padding: 20px 12px;
        }
        .role_box h3{
            border-bottom: 1px solid #dadada;
            padding: 10px 0 5px 0;
        }
        .role_box ul{
            display: flex;
            justify-content: flex-start;
        }
        .role_box ul li{
            margin-top:12px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-12 animated fadeIn node_edit mg-tp-20">
        <form class="layui-form" method="post">

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="username"
                        value="{{ result.username }}" class="form-control"
                        placeholder="输入登录用户名" {{ result.username == constant('ROOT_USER') ? 'disabled' : '' }}/>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-inline">
                        <input type="password" id="password" class="form-control" placeholder="输入登录密码" />
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">联系邮箱</label>
                    <div class="layui-input-inline">
                        <input type="email" id="email"
                               value="{{ result.email }}" class="form-control" placeholder="联系邮箱" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">真实姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" id="real_name"
                               value="{{ result.real_name }}" class="form-control" placeholder="真实姓名" />
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">手机号码</label>
                    <div class="layui-input-inline">
                        <input type="number" id="phone" value="{{ result.phone }}" class="form-control" placeholder="手机号码" />
                    </div>
                </div>
            </div>

            {% if result.username != constant('ROOT_USER') %}
            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="status"
                           value="1" class="form-control" title="有效" {{ result.status == 1 ? 'checked' : '' }}>
                    <input type="radio" name="status"
                           value="0" class="form-control" title="无效" {{ result.status == 0 ? 'checked' : '' }}>
                </div>
            </div>

            <div class="role_box">
                <h3>角色分配</h3>
                <ul>
                    {% for role in roles %}
                        <li>
                            <input type="checkbox" name="role_id[]" class="role_id"
                                   value="{{ item.id }}" lay-skin="primary" title="{{ item.name }}"
                                    {{ userRoles is iterable and item.id in userRoles ? 'checked' : '' }}>
                        </li>
                    {% else %}
                        <li>暂无角色</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            laydate.render({
                elem: '#birth_date'
            });
        });

        function submit(index, callback) {
            var data = new Object();
            data.phone = $('#phone').val();
            data.password = $('#password').val();
            data.email = $('#email').val();
            data.real_name = $('#real_name').val();
            data.birth_date = $('#birth_date').val();
            data.id = "{{ result.id }}";

            {% if result.username != constant('ROOT_USER') %}
                data.username = $('#username').val();
                data.status = $("[name='status']:checked").val();
                var roleIds = new Array();
                $(".role_id:checkbox:checked").each(function(){
                    roleIds.push($(this).val())
                })
                roleIds = roleIds.join(',');
                data.roles = roleIds;
            {% endif %}

            app.post("{{ url.toRoute('/system/user/save') }}", data, function(res) {
                if (res !== false) {
                    app.showMsg(res, 'success');
                    app.parent.layer.close(index);

                    callback(true);
                }

                callback(false);
            });
        }
    </script>
{% endblock %}